p {
    font-family: 'Visby', sans-serif;
}

.container {
    width: 85%;
}

#terra{
    background-image: url(/img-agro/Agronegocios-terra-planagem.png);
}

.agro-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 40%;
    border-radius: 20px;
    padding: 10px;
}

#galeria {
    width: 100%;
}

#galeria .foto img {
    width: 100%;
    border-radius: 10px;
}

#galeria .foto {
    padding: 2px;
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cav-venda {
    background-color: #192230;
    border-radius: 100px;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cav-venda p {
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.img-rod-2 {
    position: absolute;
    left: 0;
    top: -27%;
}

.txt-footer {
    height: 160px;
}

footer .rodape {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1600px) {
    footer .img-rod-2 {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .txt-footer {
        height: 160px;
        margin: 0 !important;
    }

    footer .rodape {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    .cav-venda {
        border-radius: 10px;
    }

    .box img {
        width: 95%;
        border-radius: 20px;
    }

    .img-rod-2 {
        display: none;
    }

    .txt-footer {
        top: 50px;
        left: 0 !important;
    }

    footer {
        height: 390px;
    }
}