header {
    height: 12vh;
    /* Corrigido de "vb" para "vh" */
}

.container {
    width: 90%;
}

body {
    background-color: #131B26;
}

summary:hover {
    border-bottom: 3px solid #F99F42;
}

.logo {
    top: 10px;
    position: relative;
}

.menu {
    left: -50px;
    position: relative;
}

#terra {
    top: -100px;
    z-index: -10;
    position: relative;
    background-image: url(/cacambas/FUNDO.png);
    background-position: center center;
    background-size: cover;
}

#terra .dentro-terra {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

#terra .img-fundo {
    width: 130px;
    height: 80px;
    margin-top: 15%;
}

#terra .dentro-terra p {
    font-family: 'Visby', sans-serif;
    color: white;
    font-size: 1.8rem;
    width: 600px;
    text-align: justify;
}

#terra .dentro-terra h1 {
    font-family: 'Visby', sans-serif;
    font-weight: bold;
    color: #131B26;
    font-size: 4rem;
    margin: 50px;
}

#portifolio-img {
    margin-top: -85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#portifolio-img video {
    width: 40%;
    border-radius: 10px;
}

#portifolio-img img {
    width: 20%;
    border-radius: 10px;
}

#select {
    color: white;
    border-bottom: solid 2px white;
}

#btn-voltar-sec {
    height: 150px;
    background-color: #131B26;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#btn-voltar-sec .btn-voltar {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.5rem;
    z-index: 10;
    border: 2px solid #F99F42;
    color: #F99F42;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Visby', sans-serif;
    font-weight: bold;
}

footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    width: 90%;
    top: 90px;
}

footer .img-rod-2 {
    float: right;
    top: -93px;
    position: relative;
}

@media only screen and (max-width: 1600px) {
    footer .img-rod-2 {
        display: none;
    }
}

@media only screen and (max-width: 1370px) {
    .img-rod-2 {
        display: none;
    }

    header {
        height: 15vh;
        /* Corrigido de "vb" para "vh" */
    }
}

@media only screen and (max-width: 840px) {
    .img-rod-2 {
        display: none;
    }

    #terra {
        height: 600px;
    }

    #terra h1 {
        font-size: 2rem !important;
    }

    #terra .img-fundo {
        margin-top: 220px !important;
    }

    header {
        height: 100px;
    }
}

@media (max-width: 600px) {
    header {
        height: 100px;
    }

    #terra h1 {
        font-size: 2rem !important;
        width: 100%;
        text-align: center;
    }

    #terra {
        height: 500px;
    }

    #terra .dentro-terra p {
        font-size: 18px;
        width: 350px;
    }

    #terra .img-fundo {
        width: 100px;
        height: 60px;
        margin-top: 50%;
    }

    #terra {
        background-position: center;
        height: 600px;
        width: 100%;
    }

    #portifolio-img .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #portifolio-img video {
        margin: 10px;
        width: 100%;
        border-radius: 10px;
    }

    #portifolio-img img {
        margin: 10px;
        width: 100%;
        border-radius: 10px;
    }

    #btn-voltar-sec {
        width: 100%;
        display: inline;
        justify-content: center;
        align-items: center;
    }

    #btn-voltar-sec .btn-voltar {
        top: 40%;
    }

    footer {
        height: 255px;
    }

    footer .rodape .txt-footer {
        margin: 0;
    }

    footer .rodape .txt-footer h1 {
        font-size: 11px;
    }

    footer .rodape .txt-footer .relogio h1 {
        font-size: 11px;
    }

    .rodape {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .rodape .roda-fora {
        top: 10px;
    }

    .img-rod-2 {
        display: none;
    }
}