header {
    height: 12vb;
}

body {
    background-color: #131B26;
}

summary:hover{
    border-bottom: 3px solid #F99F42;
}

.logo{
    top: 10px;
    position: relative;
}

.menu{
    left: -50px;
    position: relative;
}

#terra {
    top: -100px;
    z-index: -10;
    position: relative;
    background-image: url(/cacambas/FUNDO.png);
}

#terra .dentro-terra {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#terra .img-fundo {
    width: 130px;
    height: 80px;
    margin-top: 15%;
}

#terra .dentro-terra p {
    font-family: 'Visby', sans-serif;
    color: white;
    font-size: 1.9rem;
    width: 600px;
}

#terra .dentro-terra h1 {
    font-family: 'Visby', sans-serif;
    font-weight: bold;
    color: #131B26;
    font-size: 4rem;
    margin: 50px;
}

#portifolio-img {
    margin-top: -85px;
    width: 100%;
}

#portifolio-img .imgs-port img {
    margin-bottom: 10px;
    width: 100%;
    height: 1000px;
}

#select {
    color: white;
    border-bottom: solid 2px white;
}

#btn-voltar-sec {
    height: 150px;
    background-color: #131B26;
    margin-top: -15px;
}

#btn-voltar-sec .btn-voltar {
    position: relative;
    left: 48%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.5rem;
    z-index: 10;
    border: 2px solid #F99F42;
    color: #F99F42;
    text-decoration: none;
    border-radius: 8px;
    top: 40%;
    font-family: 'Visby', sans-serif;
    font-weight: bold;
}

footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    height: 366px;
    top: 10px;
}

.rodape{
    width: 90%;
    top: 90px;
}

footer .rodape .txt-footer {
    margin-top: -30px;
}

.rodape .roda-fora {
    position: relative;
    top: -20px;
}

.img-rod-2 {
    position: relative;
    float: right;
    top: -360px;
    width: 25%;
}

@media (max-width: 1024px) {
    #terra .dentro-terra{
        position: relative;
        top: 80px;
        height: 700px;
    }

    #portifolio-img .imgs-port img{
        height: 600px;
    }
    
    .img-rod-2{
        top: -257px;
        width: 40%;
    }

    footer .rodape .txt-footer {
        z-index: 1;
        right: 40px;
        position: relative;
    }

    .rodape .roda-fora {
        width: 24%;
        right: 30px;
    }
}

@media only screen and (max-width: 840px) {
    .img-rod-2{
        width: 400px;
        top: -205px;
    }

    footer .rodape .txt-footer {
        z-index: 1;
        margin-left: -250px;
        position: relative;
    }

    header{
        height: 100px;
    }
}

@media (max-width:600px) {

    header {
        height: 100px;
    }

    #terra .dentro-terra h1 {
        font-size: 40px;
    }

    #terra .dentro-terra p {
        font-size: 18px;
        width: 350px;
    }

    #terra .img-fundo {
        width: 100px;
        height: 60px;
        margin-top: 50%;
    }

    #terra {
        background-position: center;
        height: 600px;
        width: 100%;
    }

    #portifolio-img .imgs-port img {
        width: 100%;
        height: 250px;
    }

    #btn-voltar-sec .btn-voltar {
        position: relative;
        left: 33%;
    }

    footer {
        height: 205px;
        top: 10px;
    }

    footer .rodape .txt-footer {
        left: -80px;
    }

    footer .rodape .txt-footer h1{
        font-size: 11px;
    }

    footer .rodape .txt-footer .relogio h1{
        font-size: 11px;
    }

    .rodape{
        top: 55px;
    }

    .rodape .roda-fora {
        top: 10px;
    }

    .img-rod-2 {
        display: none;
    }

}