body {
    background-color: #131B26;
}

footer {
    background-color: white;
    top: 100px;
    position: relative;
}

#form-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    font-family: 'Visby', sans-serif;
    margin-top: 90px;
    right: 380px;
    position: relative;
}

#form-cont .txt-contact {
    position: absolute;
    left: 60%;
    top: -100px;
}

#form-cont .contact-cont {
    font-size: 60px;
    display: inline-block;
    color: white;
    padding: 5px;
    width: 300px;
    align-items: center;
    text-align: center;
    color: #F99F42;
}

#form-cont input {
    background-color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 7px;
}

button {
    cursor: pointer;
    width: 250px;
    height: 35px;
    color: white;
    font-family: 'Visby', sans-serif;
    font-size: 1.7rem;
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    transition: 0.3s;
    background: #F99F42;
}

button:hover,
button:focus {
    outline: none;
    background: #c77421;
}

#form-cont textarea {
    font-family: 'Visby', sans-serif;
    background-color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    width: 600px;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
}

#form-cont ::placeholder {
    color: #131B26;
    font-family: 'Visby', sans-serif;
}

.contato-left p {
    color: #F99F42;
    font-size: 32px;
    font-family: 'Visby', sans-serif;
    position: relative;
    top: 10px;
    width: 500px;
}

.contato-left .email,
.insta,
.whatsapp {
    display: block;
    flex-direction: column;
    height: 90px;
    justify-content: center;
    text-align: left;
    margin-bottom: -15px;
}


.contato-left {
    width: 40%;
    position: absolute;
    left: 55%;
    margin-top: -19%;
}

.contato-left h1 {
    position: relative;
    right: 40px;
    color: white;
    font-size: 23px;
}

.contato-left img {
    width: 30px;
}

form {
    margin-left: 10px;
    position: relative;
    top: 40px;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #F99F42;
}

button:disabled {
    cursor: not-allowed;
    background: #555b69;
}

.success,
.error {
    text-align: center;
}

.success {
    color: #F99F42;
    font-size: 25px;
}

.error {
    color: tomato;
}

@media (max-width:1024px) {
    #form-cont .txt-contact {
        left: 75%;
    }

    #form-cont .txt-contact h2 {
        font-size: 40px;
    }

    #form-cont form {
        position: relative;
        left: 40%;
    }

    .contato-left {
        position: relative;
        width: 99%;
        left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 300px;
    }

    .contato-left p {
        font-size: 30px;
        width: 400px;
        margin-top: 15px;
        left: 20px;
    }

    .contato-left h1 {
        font-size: 18px;
        margin-top: 10px;
    }

    .contato-left img {
        width: 27px;
        position: relative;
        left: 50%;
    }

    .contato-left .whatsapp h1 {
        left: 35%;
        width: 150px;
    }

    .contato-left .insta h1 {
        left: 32%;
        width: 150px;
    }

    .contato-left .email h1 {
        left: 23%;
        width: 150px;
    }

    .success {
        position: relative;
        top: 150px;
    }
}

@media (max-width:840px) {
    #form-sec #form-cont {
        right: 340px;
    }

    #form-cont .txt-contact .contact-cont {
        right: 20px;
        top: 80px;
        position: relative;
    }

    .contato-left p {
        left: -5px;
        position: relative;
    }

    .contato-left h1 {
        margin-left: -30px;
        position: relative;
    }

    .contato-left .email img,
    .whatsapp img,
    .insta img {
        left: 180px;
        position: relative;
    }

}

@media only screen and (max-width: 700px) {
    form {
        margin-left: 130px;
        position: relative;
    }
}

@media (max-width:600px) {

    form {
        position: relative;
        margin-left: 80%;
        top: -40px;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #form-cont .txt-contact .contact-cont {
        font-size: 30px;
        font-weight: bold;
        position: relative;
        left: 25%;
        top: 40px;
    }

    #form-sec input {
        width: 300px;
    }

    #form-sec textarea {
        width: 300px;
        height: 60px;
    }

    .contato-left {
        position: relative;
        width: 100%;
        left: -15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 30px;
    }

    .contato-left p {
        font-size: 25px;
        width: 320px;
        margin-top: 20px;
        left: 20px;
    }

    .contato-left h1 {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .contato-left img {
        width: 27px;
        position: relative;
        left: 50%;
    }

    .contato-left .email h1 {
        left: 10%;
    }

    .contato-left .email img {
        left: 50%;
    }

    .contato-left .whatsapp h1 {
        left: 30%;
    }

    .contato-left .insta h1 {
        left: 20%;
    }

    .success {
        position: relative;
        top: 150px;
    }
}

@media (max-width: 400px) {
    form {
        margin-left: 370px;
        position: relative;
    }
}