.container {
    width: 90%;
}

.box img {
    width: 30%;
    border-radius: 20px;
}

#terra{
    background-image: url(/equipe/capaequipe.png);
}

#portifolio-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#galeria {
    width: 100%;
    align-items: center;
    text-align: center;
}

#galeria img {
    width: 80%;
    border-radius: 10px;
}

#galeria .foto {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#terra .dentro-terra p {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1600px) {
    footer .img-rod-2 {
        display: none;
    }
}

@media only screen and (max-width: 840px) {

    /* Corrigido "max-widht" para "max-width" */
    header {
        height: 100px;
    }

    .box img {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    #terra {
        height: 600px;
    }

    #terra .dentro-terra p {
        width: 100%;
        text-align: center;
    }

    .rodape .roda-fora {
        height: 100px;
    }

    .box #galeria img {
        width: 95%;
    }
}