@media only screen and (max-width: 1024px) {
    #portifolio-img .imgs-port img{
        height: 600px;
        width: 100%;
    }

    #terra{
        height: 700px;
    }

    #terra .dentro-terra{
        top: 100px;
        position: relative;
    }
}

@media only screen and (max-widht: 840px) {
    header{
        height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    #portifolio-img .imgs-port img{
        height: 250px;
        width: 100%;
    }

    #terra{
        height: 600px;
    }

    #terra .dentro-terra{
        top: 50px;
        position: relative;
    }

    .rodape .roda-fora{
        height: 100px;
    }

}
