body{
    background-image: url(/imagens/fundo-linktree-pc.png);
    font-family: 'Visby', sans-serif;
}

p{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

#links-sec a{
    margin-top: 2%;
    margin-bottom: 1%;
    color: #131B26;
    padding: 15px;
    text-decoration: none;
    width: 300px;
    font-size: 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(53, 53, 53, 0.598) 10px 5px 50px -15px, rgb(43, 43, 43) 10px 5px 50px -5px;
}

#links-sec{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container{
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img{
    width: 10%;
}

.container #logo-baixo{
    width: 15%;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {

    body{
        background-position: center center;
    }

    .container{
        margin-top: 10%;
    }

    .container img{
        width: 30%;
        margin-bottom: 20%;
    }

    .container #logo-baixo{
        width: 35%;
        margin-top: 30%;
    }
}