body {
    font-family: 'Visby', sans-serif;
}

header {
    height: 12vb;
    z-index: 1000;
}

p {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#portifolio-img .imgs-port {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#portifolio-img .imgs-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#portifolio-img .imgs-port img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 10px 5px 10px -15px, rgb(0, 0, 0) 10px 5px 50px -5px;
}

#portifolio-img .imgs-sec img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 1px 10px -15px, rgb(0, 0, 0) 10px 5px 50px -5px;
}

#portifolio-img {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#portifolio-img .imgs-port .box-1 img,
p {
    align-self: center;
}

#portifolio-img .imgs-port .box-1,
.box-2,
.box-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 500px;
}

#portifolio-img .imgs-sec .box-1,
.box-2,
.box-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 500px;
}

#portifolio-img p {
    font-size: 25px;
    color: white;
    width: 250px;
    font-weight: bold;
    margin-top: 20px;
}

#portifolio-img h1 {
    font-size: 18px;
    color: white;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rodape {
    height: 1px;
}

.rodape .roda-fora{
    height: 200px;
}

footer{
    position: relative;
    top: 100px;
}

.img-rod-2 {
    top: -28%;
}

@media only screen and (max-widht: 1370px) {
    header {
        height: 15vb;
    }
}

@media only screen and (max-width: 600px) {
    #portifolio-img .imgs-port {
        display: flex;
        flex-direction: column;
    }

    #portifolio-img .imgs-sec {
        display: flex;
        flex-direction: column;
    }

    #portifolio-img p {
        font-size: 25px;
        color: white;
        width: 250px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #portifolio-img h1 {
        width: 350px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #portifolio-img .imgs-port img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }

    #portifolio-img .imgs-sec img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }

    #portifolio-img .imgs-port .box-1,
    .box-2,
    .box-3 {
        height: 500px;
    }

    #portifolio-img .imgs-sec .box-1,
    .box-2,
    .box-3 {
        height: 510px;
    }

    .rodape .roda-fora{
        height: 100px;
    }
}