.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 5px solid orange;
  width: 35px;
  z-index: 10000;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 5px solid orange;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  border-radius: 3px;
  content: "";
  display: block;
  border-bottom: 5px solid orange;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked~.burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger-check:checked~.burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check:checked~.burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  margin-top: 13px;
  margin-left: -70px;
  position: absolute;
  float: left;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  z-index: 10000;
}

.burger-check:checked~.navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}

.navigation .conteudo .port-h1 {
  font-family: 'Visby', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  height: 25px;
}

.navigation .conteudo a:not(:first-child) {
  display: none;
  background-color: white;
  padding-top: 10px;
  top: 5px;
  position: relative;
  color: orange;
  height: 30px;
  width: 150px;
}

.menu-right {
  float: right;
  margin-top: -100px;
  margin-right: 50px;
  margin-left: 0px;
}

a {
  font-family: 'Visby', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  margin: 0;
  text-align: center;
}

.navi details summary {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Visby', sans-serif;
  font-weight: bold;
  padding: 10px;
  list-style-type: '';
  text-align: center;
}

.navi details li {
  background-color: white;
  text-align: left;
}

.navi details li a {
  font-size: 17px;
  color: orange;
  text-decoration: none;
  margin-left: 5px;
}

.navi {
  background-color: orange;
  margin: 0;
  width: 150px;
  border-radius: 5px;
  border: 2px solid white;
}

.menu-right li {
  border-bottom: 1px solid rgb(255, 139, 85);
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
  text-align: center;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
}