body {
    background-color: #131B26;
}

b {
    font-weight: bold;
}

.container {
    width: 90%;
}

header {
    height: 12vb;
}

.logo {
    top: 10px;
    position: relative;
}

.menu {
    left: -50px;
    position: relative;
}

#terra {
    top: -100px;
    z-index: -10;
    position: relative;
    background-image: url(/portifolioimg/FUNDO.png);
}

#terra .dentro-terra {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

#terra .img-fundo {
    width: 130px;
    height: 80px;
    margin-top: 15%;
}

#terra .dentro-terra p {
    font-family: 'Visby', sans-serif;
    color: white;
    font-size: 1.9rem;
    width: 600px;
}

#terra .dentro-terra h1 {
    font-weight: 600;
    font-family: 'Visby', sans-serif;
    color: #131B26;
    font-size: 4rem;
    margin: 50px;
}

#portifolio-img {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#galeria{
    width: 100%;
}

#galeria .foto img {
    width: 99%;
    border-radius: 10px;
}

#galeria .foto {
    padding: 2px;
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#galeria .foto:target{
    width: 70%;
    z-index: 10;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.423);
}

.foto:target .detalhes a {
    font-family: 'Visby', sans-serif;
    color: #131B26;
    font-size: 25px;
    text-decoration: none;
    font-weight: 900;
    background-color: #F99F42;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: 2px solid #131B26;
}

.foto:target .detalhes {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.detalhes {
    display: none;
}

#portifolio-img .box-img {
    width: 100%;
    align-items: center;
    justify-content: end;
    display: flex;
}

#portifolio-img .box-video-mobile {
    display: none;
}

#portifolio-img .box-video {
    padding-left: 6px;
    display: block;
}

#portifolio-img .box-video video {
    width: 340px;
    margin-top: 2px;
    border-radius: 10px;
    border-radius: 10px;
}

#portifolio-img img {
    width: 20%;
    padding: 3px;
}

#portifolio-img .box {
    width: 100%;
    align-items: center;
    display: inline-flex;
}

#portifolio-img .box-txt {
    width: 100%;
    height: 100px;
    font-family: 'Visby', sans-serif;
}

#portifolio-img .box-txt p {
    color: white;
    font-size: 30px;
}

#btn-voltar-sec {
    height: 200px;
    background-color: #131B26;
    padding: 0;
    margin-top: 20px;
}

#btn-voltar-sec .btn-voltar {
    position: relative;
    left: 48%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.5rem;
    border: 2px solid #F99F42;
    color: #F99F42;
    text-decoration: none;
    border-radius: 8px;
    top: 45%;
    font-family: 'Visby', sans-serif;
}

footer {
    width: 100%;
    height: 350px;
    background-color: white;
    top: 45px;
    position: relative;
}

.rodape {
    top: 10%;
    width: 80%;
    height: 10px;
}

.img-rod-2 {
    position: relative;
    float: right;
    top: -127px;
    width: 25%;
}

.txt-footer {
    margin-top: -5px;
}

@media only screen and (max-width: 1370px) {
    .img-rod-2 {
        top: 7px;
    }


    header {
        height: 15vb;
    }
}


@media (max-width: 1024px) {
    footer {
        position: relative;
    }

    .img-rod-2 {
        width: 500px;
        top: -348px;
    }

    .txt-footer {
        z-index: 1;
    }

    #terra .dentro-terra {
        height: 700px;
        position: relative;
        top: 70px;
    }

}


@media (max-width:840px) {
    header {
        height: 100px;
    }

    .img-rod-2 {
        display: none;
    }

    footer {
        height: 250px;
    }
}

@media (max-width:600px) {

    .container {
        width: 80%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    header {
        height: 100px;
    }

    #terra .dentro-terra h1 {
        font-size: 40px;
    }

    #terra .dentro-terra p {
        font-size: 18px;
        width: 350px;
    }

    #terra .img-fundo {
        width: 100px;
        height: 60px;
        margin-top: 50%;
    }

    #portifolio-img .box {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #galeria .foto:target {
       left: 4%;
       width: 90%;
    }
    
    .foto:target .detalhes a {
        font-size: 15px;
    }


    #galeria .foto img {
        width: 90%;
        border-radius: 10px;
    }
    
    #galeria .foto {
        width: 100%;
    }

    #portifolio-img .box-video video {
        width: 372px;
    }

    #portifolio-img .box-video {
        display: none;
    }

    #portifolio-img .box-video-mobile {
        width: 380px;
        align-items: center;
        display: block;
    }

    #portifolio-img .box-video-mobile video {
        width: 370px;
    }

    #portifolio-img .box-img {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 190px 190px;
    }

    #portifolio-img .box-txt {
        padding: 10px;
    }

    #btn-voltar-sec .btn-voltar {
        position: relative;
        left: 33%;
    }

    footer {
        height: 170px;
        top: 5px;
    }

    .rodape .roda-fora {
        height: 100px;
    }

    .img-rod-2 {
        display: none;
    }

    footer .rodape .txt-footer {
        width: 288px;
        left: 60px;
    }

    footer .rodape .txt-footer h1 {
        font-size: 11px;
    }

    footer .rodape .txt-footer .relogio h1 {
        font-size: 11px;
    }

    .rodape .txt-footer .relogio img,
    .email img,
    .whatsapp img,
    .insta img {
        width: 15px;
        margin-bottom: -10px;
        margin-left: 20px;
    }

}