.logo {
    top: 10px;
    position: relative;
}

.servicos {
    overflow: hidden;
    height: 950px;
    z-index: -10;
}

.servicos #img-conta {
    width: 27%;
}

.center-servicos .box h1 {
    font-size: 1.2em;
}

.rodape .img-fundo-roda {
    position: relative;
    left: 600px;
    top: 20px;
    z-index: 10;
    width: 300px;
    height: 200px;
}

.rodape .roda-fora {
    width: 200px;
    height: 190px;
    position: relative;
    top: 20px;
}

.img-rod-2 {
    position: absolute;
    left: 76%;
    top: 102%;
}

.txt-footer {
    left: 250px;
    width: 300px;
}

footer {
    z-index: 1000;
    height: 335px;
}

@media only screen and (max-width: 1370px) {
    .img-rod-2 {
        display: none;
    }

    .servicos {
        height: 600px;
    }

    .txt-footer {
        width: 300px;
    }

    .rodape {
        top: 10px;
        height: 1px;
    }

    footer {
        height: 300px;
    }
}

@media only screen and (max-width: 900px) {
    header {
        height: 100px;
    }

    .servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 1800px;
    }

    .servicos .center-servicos img {
        width: 140px;
    }

    .servicos .center-servicos h1 {
        width: 400px;
        font-size: 20px;
    }

    .servicos #img-conta {
        width: 15%;
    }

    .rodape{
        height: 300px;
        background-color: white;
    }

    footer{
        margin-top: -200px;
    }

    .txt-footer{
        width: 360px;
    }

    footer .rodape .txt-footer .relogio img {
        width: 24px;
    }

    footer .rodape .txt-footer img {
        width: 24px;
    }

    footer .rodape .txt-footer h1,
    #h1-relo {
        width: 200px;
        font-size: 20px;
        text-align: left;
    }

    .rodape .img-fundo-roda {
        display: none;
    }

    footer .roda-fora {
        right: 40px;
    }
}

@media only screen and (max-width: 600px) {

    header {
        height: 100px;
    }

    .servicos .center-servicos{
        height: 65%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .servicos .center-servicos h1 {
        font-size: 15px;
        width: 300px;
    }

    .servicos .top-servicos{
        margin-top: 100px;
    }

    .servicos .top-servicos h1 {
        font-size: 30px;
    }

    .servicos {
        height: 1900px;
        z-index: -100;
    }

    .servicos #img-conta{
        width: 25%;
    }

    footer {
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -220px;
    }

    footer .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 !important;
    }

    .rodape .img-fundo-roda {
        display: none;
    }

    footer .rodape .txt-footer{
        width: 100% !important;
        height: 100px;
        text-align: left;
        margin-top: 30px;
    }

    footer .rodape .txt-footer h1,
    #h1-relo {
        font-size: 18px;
    }

    footer .rodape .txt-footer img,
    #imgrel {
        width: 15px;
    }

    footer .rodape .txt-footer {
        width: 100px;
    }

    footer .rodape .roda-fora {
        width: 100px;
        height: 100px;
        margin-left: 70px;
    }
}