.servicos{
    z-index: -1000;
    overflow: hidden;
    top: 489px;
    height: 818px;
}

footer{
    top: 940px;
}

.prin .email h1{
    font-size: 27px;
}

.secon .whatsapp h1, .insta h1{
    font-size: 27px;
}

.prin .relogio #h1-relo{
    width: 500px;
    font-size: 27px;
}

.prin{
    top: 70px;
    position: relative;
}

.secon{
    position: relative;
    left: 550px;
    top: -30px;
}

.img-fundo-roda{
    position: relative;
    left: 600px;
    z-index: -10;
}

@media (max-width:600px){
    .servicos{
        top: 328px;
        height: 1200px;
    }

    footer{
        top: 980px;
        left: 30px;
    }
}
