* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Aplicado globalmente */
}

body {
    display: flex;
    flex-direction: column;
}

header .menu-right {
    display: none;
}

header {
    background-color: #131B26;
    display: flex;
    height: 12vh;
    /* Corrigido 'vb' para 'vh' */
    align-items: center;
    justify-content: space-around;
}

.logo {
    top: 10px;
    position: relative;
}

header .logo img {
    padding-top: 24px;
    position: relative;
    left: 5%;
    top: 8%;
    width: 10%;
}

header .menu a {
    margin-left: 20px;
    font-family: 'Visby', sans-serif;
    font-weight: bolder;
    color: #F99F42;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
}

header .menu a:hover {
    color: rgb(164, 107, 0);
    border-bottom: 3px solid #F99F42;
    border-radius: 2px;
}

header .menu {
    float: right;
    left: -50px;
    top: -55px;
    position: relative;
    padding: 20px;
}

summary:hover {
    color: rgb(164, 107, 0);
    border-bottom: 3px solid #F99F42;
    border-radius: 2px;
}

details {
    color: #F99F42;
    position: relative;
    right: 90px;
    bottom: 23px;
    width: 90px;
    cursor: pointer;
}

details li a {
    position: relative;
    right: 7px;
    padding: 4px;
}

details li {
    text-align: center;
    align-items: center;
    top: 30px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    width: 230px;
    right: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 100;
}

.sum-menu {
    font-family: 'Visby', sans-serif;
    font-weight: 900;
    font-size: 23px;
    list-style: none;
}

.scav-mobile {
    display: none;
}

.scav {
    right: 0;
    bottom: 0;
    height: 700px;
    width: 100%;
    position: relative;
    top: -10px;
}

.scav video {
    width: 100%;
    height: 720px;
    object-fit: cover;
}

.equipe {
    background-color: #131B26;
    display: flex;
    padding: 50px;
}

.container-equipe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipe .equipe-img {
    width: 28%;
}

.equipe .simbolo-1 {
    width: 13%;
}

.equipe .equipe-txt {
    width: 50%;
    margin-left: 50px;
}

.equipe h1 {
    font-family: 'Visby', sans-serif;
    font-weight: bolder;
    color: #F99F42;
    font-size: 4rem;
}

.equipe h2 {
    font-family: 'Visby', sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-top: 40px;
    width: 850px;
    margin-bottom: 50px;
    color: white;
    font-size: 2rem;
}

.equipe-txt a {
    font-family: 'Visby', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 2rem;
    color: #F99F42;
    border: 3px solid #F99F42;
    border-radius: 8px;
    padding: 5px;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
    background-image: url(/imagens/FUNDO-SERVIÇOS.png);
}

.servicos a {
    font-size: 2rem;
    color: white;
    border: 4px solid white;
    border-radius: 10px;
    font-family: 'Visby', sans-serif;
    font-weight: bolder;
    padding: 5px;
    text-decoration: none;
}

/* Adicionando prefixos de fornecedor para algumas propriedades */
header,
body,
details,
summary {
    -webkit-box-sizing: border-box;
    /* Para Safari */
    -moz-box-sizing: border-box;
    /* Para Firefox */
    box-sizing: border-box;
    /* Padrão */
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        /* Ajusta o layout em telas pequenas */
    }

    .equipe .equipe-img {
        width: 80%;
        /* Reduz o tamanho da imagem em telas pequenas */
    }

    .equipe h1,
    .equipe h2 {
        font-size: 2rem;
        /* Ajusta o tamanho da fonte */
    }

    .servicos {
        height: auto;
        /* Permite que a altura se ajuste ao conteúdo */
    }
}

.servicos .top-servicos {
    width: 100%;
    text-align: center;
}

.servicos .simbolo-2 {
    width: 7%;
}

.servicos .top-servicos h1 {
    font-weight: bolder;
    font-size: 2.6rem;
    font-family: 'Visby', sans-serif;
    color: white;
    margin-top: 30px;
}

.center-servicos {
    display: inline-flex;
    padding: 30px;
}

.servicos .center-servicos h1 {
    margin-top: 30px;
    font-size: 1.4em;
    color: white;
    font-family: 'Visby', sans-serif;
    font-weight: 600;
}

.center-servicos .box {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-servicos .box img {
    width: 50%;
}

.rellax {
    margin-top: -350px;
    margin-bottom: 100px;
    position: relative;
    z-index: -100;
}

.paralax {
    background-position: center center;
    background-attachment: fixed;
    /* Pode não funcionar em alguns navegadores */
    background-size: cover;
    /* Melhor compatibilidade */
    min-height: 800px;
    background-image: url(/imagens/DSC00625-Aprimorado-NR.jpg);
}

.aba-isa {
    background-color: #131B26;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.aba-isa .container-isa {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
}

.aba-isa .container-isa #img-top-isa {
    width: 10%;
}


.aba-isa .container-isa .isa-img {
    width: 28%;
    margin-right: 50px;
}

.aba-isa .center-isa a img {
    width: 5%;
    margin-bottom: -1%;
    margin-right: 1%;
}

.aba-isa .center-isa {
    width: 40%;
}

.aba-isa .center-isa h1 {
    font-weight: bolder;
    font-family: 'Visby', sans-serif;
    font-size: 2.8rem;
    color: #F99F42;
    margin-bottom: 40px;
}

.aba-isa .center-isa h2 {
    font-family: 'Visby', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.aba-isa a {
    font-family: 'Visby', sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    text-decoration: none;
    color: #F99F42;
    border: 2px solid #F99F42;
    border-radius: 10px;
    display: inline-flex;
    /* Alterado para inline-flex para melhor compatibilidade */
    align-items: center;
    text-align: center;
    padding: 8px;
    position: relative;
    top: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

footer .rodape {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80%;
    margin-top: 50px;
}

.rodape .roda-fora {
    width: 150px;
    height: 150px;
    margin-right: 60px;
}

.rodape .txt-footer .relogio,
.email,
.insta,
.whatsapp {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rodape .txt-footer .relogio img,
.email img,
.insta img,
.whatsapp img {
    width: 4%;
    text-align: center;
}

.rodape .txt-footer .relogio h1,
.email h1,
.insta h1,
.whatsapp h1 {
    margin-left: 20px;
    font-size: 1.4rem;
    font-family: 'Visby', sans-serif;
    font-weight: 600;
    color: #131B26;
}

.rodape .logo-rodape {
    display: none;
}

/* Media Queries */

@media only screen and (max-width: 1370px) {
    header {
        height: 100px;
        z-index: 1000;
    }

    header .menu {
        position: relative;
        top: -45px;
    }

    .container-equipe h1 {
        font-size: 45px;
    }

    .container-equipe h2 {
        font-size: 30px;
        width: 600px;
    }

    .servicos {
        height: 700px;
    }

    .center-servicos img {
        width: 65%;
    }

    .center-servicos .box h1 {
        font-size: 1em;
        text-align: center;
    }

    .aba-isa {
        height: 450px;
    }

    .container-isa .isa-img {
        width: 400px;
        top: 130px;
    }

    .center-isa {
        top: 100px;
    }

    .aba-isa a {
        top: 20px;
    }

    footer {
        top: 465%;
    }

    .roda-fora {
        top: 40px;
        position: relative;
    }

    .rodape {
        width: 85%;
    }
}

@media only screen and (max-width: 890px) {
    .equipe {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .equipe .equipe-txt {
        text-align: left;
        align-items: left;
        display: flex;
        flex-direction: column;
    }

    .equipe .container-equipe h1 {
        font-size: 30px;
    }

    .equipe .container-equipe h2 {
        font-size: 20px;
        width: 340px;
    }

    .equipe .container-equipe .equipe-img {
        width: 50%;
    }

    .equipe .container-equipe a {
        font-size: 25px;
    }

    .servicos {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1600px;
        margin-top: -210px;
        z-index: -1000;
        background-position: center;
        background-image: url(/imagens/FUNDO-SERVIÇOS.png);
    }

    .servicos .top-servicos img {
        width: 10%;
    }

    .servicos .center-servicos {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .servicos .center-servicos img {
        width: 15%;
    }

    .servicos .center-servicos #cont {
        width: 10% !important;
    }

    .servicos .center-servicos h1 {
        font-size: 20px;
        line-height: 17px;
        text-align: center;
        width: 80%;
    }

    .servicos a {
        font-size: 16px;
        border: 2px solid white;
    }

    .rellax {
        height: 800px;
        margin-top: -600px;
        z-index: -10001;
    }

    .paralax {
        position: relative;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .aba-isa {
        height: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .aba-isa .container-isa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .aba-isa .center-isa .wpp {
        width: 5%;
        margin-top: 10px;
    }

    .aba-isa .center-isa #img-top-isa {
        width: 30%;
    }

    .aba-isa .container-isa .isa-img {
        width: 45%;
        margin: 0;
        margin-bottom: 20px;
    }

    .aba-isa .container-isa h1 {
        font-size: 25px;
        text-align: center;
    }

    .aba-isa .container-isa h2 {
        font-size: 22px;
        text-align: center;
    }

    .aba-isa .container-isa a {
        font-size: 15px;
    }

    .rodape {
        width: 100% !important;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 0 !important;
    }

    .rodape .txt-footer .relogio,
    .email,
    .whatsapp,
    .insta {
        width: 500px;
    }

    .rodape .txt-footer .relogio h1,
    .email h1,
    .whatsapp h1,
    .insta h1 {
        font-size: 24px;
    }

    .rodape .txt-footer .relogio img,
    .email img,
    .whatsapp img,
    .insta img {
        width: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    header .menu-right {
        display: block;
        position: relative;
        top: 70px;
    }

    header .logo img {
        width: 100%;
    }

    header .logo {
        width: 150px;
        margin-left: 5%;
    }

    #navigation1 details {
        left: 25px;
        top: 0px;
        border: none;
    }

    #navigation1 details a {
        left: 10px;
        top: 2px;
    }

    #navigation1 details li {
        height: 30px;
        top: -2px;
    }

    #navigation1 summary {
        border-bottom: 1px solid rgb(255, 139, 85);
        width: 130px;
        right: 25px;
        position: relative;
    }

    .scav {
        display: none;
    }

    .scav-mobile {
        right: 0;
        bottom: 0;
        height: 480px;
        width: 100%;
        position: relative;
        top: -10px;
        z-index: 10;
        display: block;
    }

    .scav-mobile video {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .equipe {
        height: 600px;
    }

    .equipe .container-equipe {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .equipe .equipe-txt {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 !important;
    }

    .equipe .container-equipe h1 {
        font-size: 25px;
    }

    .equipe .container-equipe h2 {
        font-size: 20px;
        width: 300px;
    }

    .equipe .container-equipe .equipe-img {
        width: 60%;
        margin-bottom: 20px;
    }

    .equipe .container-equipe a {
        font-size: 17px;
        z-index: 1000000;
    }

    .servicos {
        height: 2200px;
        margin-top: -240px;
        z-index: 100000;
    }

    .servicos .top-servicos img {
        width: 15%;
    }

    .servicos .top-servicos h1 {
        font-size: 30px;
        text-align: center;
    }

    .servicos .center-servicos {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicos .center-servicos img {
        width: 30%;
        margin-bottom: 10px;
    }

    .servicos .center-servicos h1 {
        font-size: 19px;
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        top: 10px;
        text-align: justify;
    }

    .servicos .center-servicos #cont {
        width: 17% !important;
    }

    .servicos a {
        font-size: 16px;
        border: 2px solid white;
        z-index: 10000;
    }

    .rellax {
        height: 800px;
    }

    .paralax {
        position: relative;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .aba-isa {
        height: 500px;
        width: 100%;
    }

    .aba-isa .container-isa {
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0 !important;
    }

    .aba-isa .center-isa {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .aba-isa .center-isa .wpp {
        width: 10%;
        margin-top: -1px;
    }

    .aba-isa .center-isa #img-top-isa {
        width: 25%;
    }

    .aba-isa .container-isa .isa-img {
        width: 45%;
    }

    .aba-isa .container-isa h1 {
        font-size: 20px;
        text-align: center;
    }

    .aba-isa .container-isa h2 {
        font-size: 17px;
        text-align: justify;
        margin-bottom: 20px;
        width: 300px !important;
        margin: 0 !important;
    }

    .aba-isa .container-isa a {
        font-size: 8px;
        padding: 5px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .rodape {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 !important;
    }

    .rodape .roda-fora {
        width: 25%;
        height: 100px;
        margin: 0;
    }

    .rodape .txt-footer {
        margin-top: 40px;
        width: 300px;
    }

    .rodape .txt-footer .relogio,
    .email,
    .whatsapp,
    .insta {
        width: 100%;
    }

    .rodape .txt-footer .relogio h1,
    .email h1,
    .whatsapp h1,
    .insta h1 {
        font-size: 12px;
        margin-bottom: -10px;
    }

    .rodape .txt-footer .relogio img,
    .email img,
    .whatsapp img,
    .insta img {
        width: 17px;
        margin-bottom: -10px;
        margin-left: 12px;
    }
}