@import url(https://db.onlinewebfonts.com/c/cfdc7772d1426068d6cc35816bdb06f8?family=Visby+CF+Bold);
@import url(https://db.onlinewebfonts.com/c/79927a8d010a79419f5c30e4d87409d5?family=Visby+CF+Medium);
@import url(https://db.onlinewebfonts.com/c/b9391bb2feac4ed6fb895074dfe3bb9d?family=Visby+Light);
@import url(https://db.onlinewebfonts.com/c/183f7076688b0fedd6643362cf90339b?family=Visby+CF+Thin);

*{
    margin: 0;
    padding: 0;
}

header .menu-right{
    display: none;
}

header{
    background-color: #131B26;
    display: flex;
    height: 120px;
    align-items: center;
}

header .logo{
    padding: 20px;
}

header .logo img{
    width: 12%;
    position: relative;
    top: 5px;
    left: 50px;
}

header .menu a{
    margin-left: 20px;
    font-family: "Visby Light";
    color: #F99F42;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

header .menu a:hover{
    color: rgb(164, 107, 0);
    border-bottom: 3px solid #F99F42;
    border-radius: 2px;
}

header .menu{
    float: right;
    margin-right: 80px;
    margin-top: -80px;
    padding: 20px;
}

.scav{
    right: 0;
    bottom: 0;
    height: 1080px;
    width: 100%;
    position: relative;
    top: -10px;
    z-index: 100;
}

.scav video{
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.equipe{
    width: 100%;
    height: 100vh;
    background-color: #131B26;
    margin-top: -350px;
}

.container-equipe{
    height: 70%;
    width: 100%;
    position: relative;
    top: 80px;
}

.equipe .equipe-img{
    position: relative;
    top: 15%;
    left: 10%;
    width: 28%;
}

.equipe .simbolo-1{
    width: 13%;
}

.equipe .equipe-txt{
    position: relative;
    top: -60%;
    left: 50%;
    width: 40%;
}

.equipe h1{
    font-family: "Visby CF bold";
    color: #F99F42;
    font-size: 4rem;
}

.equipe h2{
    font-family: "Visby CF Thin";
    font-weight: 100;
    margin-top: 40px;
    width: 850px;
    margin-bottom: 50px;
    color: white;
    font-size: 2rem;
}

.equipe-txt a{
    font-family: "Visby CF bold";
    text-decoration: none;
    font-size: 2rem;
    color: #F99F42;
    border: 3px solid #F99F42;
    border-radius: 8px;
    padding: 5px;
}

.servicos{
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1350px;
    margin-top: -10%;
    position: relative;
    background-image: url(/imagens/FUNDO-SERVIÇOS.png);
}

.servicos a{
    position: relative;
    top: 40%;
    left: 45%;
    font-size: 2rem;
    color: white;
    border: 4px solid white;
    border-radius: 10px;
    font-family: "Visby CF bold";
    padding: 5px;
    text-decoration: none;
}

.servicos .top-servicos{
    position: relative;
    top: 15%;
    left: 13%;
    width: 70%;
    align-items: center;
    text-align: center;
}

.servicos .simbolo-2{
    width: 8%;
}

.servicos .top-servicos h1{
    font-size: 2rem;
    font-family: "Visby CF bold";
    color: white;
    margin-top: 30px;
}

.center-servicos{
    justify-content: space-around;
    text-align: left;
    width: 95%;
    display: flex;
    position: relative;
    top: 25%;
    left: 2%;
}

.center-servicos h1{
    font-size: 1.5rem;
    color: white;
    font-family: "Visby CF Thin";
    line-height: 30px;
}

.center-servicos .agronegocio{
    position: relative;
}

.rellax{
    margin-top: -610px;
    margin-bottom: 200px;
    position: relative;
    z-index: -100;
}

.paralax{
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 800px;
    background-image: url(/imagens/DSC00625-Aprimorado-NR.jpg);
}

.aba-isa{
    background-image: url(/imagens/fundo-isa-e-rodape\ 2.png);
    width: 100%;
    height: 1100px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.aba-isa .container-isa{
    position: relative;
    top: 5%;
}

.aba-isa .container-isa #img-top-isa{
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.aba-isa .container-isa .isa-img{
    width: 12%;
    top: 10%;
    left: 15%;
    position: relative;
}

.aba-isa .center-isa a img{
    width: 5%;
    margin-bottom: 25px;
}

.aba-isa .center-isa{
    margin-top: 1%;
    left: 15%;
    position: relative;
    width: 40%;
}

.aba-isa .center-isa h1{
    font-family: "Visby CF Bold";
    font-size: 2.5rem;
    color: #F99F42;
    margin-bottom: 40px;
}

.aba-isa .center-isa h2{
    font-family: "Visby CF Thin";
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.aba-isa a{
    font-family: "Visby CF Bold";
    font-size: 1.4rem;
    text-decoration: none;
    color: #F99F42;
    border: 4px solid #F99F42;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 8px;
    position: relative;
    top: 20px;
}

.aba-isa a .wpp{
    position: relative;
    top: 33px;
    left: -3px;
    width: 45px;
}

.rodape{
    width: 80%;
    position: relative;
    top: 20%;
    left: 10%;
    display: flex;
    align-self: center;
}

.rodape .roda-fora{
    width: 15%;
    height: 15%;
    margin-right: 80px;
}

.rodape .txt-footer .relogio, .email, .insta, .whatsapp{
    width: 500px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.rodape .txt-footer .relogio img, .email img, .insta img, .whatsapp img{
    width: 6%;
    text-align: center;
}

.rodape .txt-footer .relogio h1, .email h1, .insta h1, .whatsapp h1{
    margin-left: 10px;
    font-size: 1.5rem;
    font-family: "Visby CF Bold";
    color: #131B26;
    position: relative;
}

.rodape .logo-rodape{
    display: none;
}

@media (max-width:600px) {
    header{
        height: 110px;
    }

    header .logo img{
        width: 80px;
        margin-left: -20px;
        margin-top: -10px;
    }

    header .menu{
        display: none;
    }

    header .menu-right{
        display: block;
        margin-top: -40px;
    }

    .scav{
        height: 320px;
        width: 100%;
        position: relative;
        top: -50px;
    }
    
    .scav video{
        height: 200px;
    }

    .container-equipe{
        text-align: center;
        position: relative;
        height: 400px;
        margin-top: 10%;
    }

    .equipe{
        height: 900px;
    }

    .equipe .equipe-img{
        width: 60%;
        height: 60%;
        margin-left: -80px;
        position: relative;
    }

    .equipe .equipe-txt{
        position: relative;
        width: 70%;
        left: 15%;
        top: 10%;
        text-align: center;
    }

    .equipe .equipe-txt h1{
        font-size: 1.9rem;
    }

    .equipe .equipe-txt h2{
        font-size: 1.7rem;
        width: 370px;
        position: relative;
        left: -50px;
    }

    .equipe a{
        position: relative;
        font-size: 1.2rem;
        z-index: 10;
        border: 2px solid #F99F42;
    }

    .servicos{
        position: relative;
        margin-top: -35%;
        width: 100%;
        height: 1050px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .center-servicos h1{
        font-size: 17px;
        line-height: 14px;
        font-weight: 600;
    }

    .center-servicos .agronegocio, .locacao, .terraplanagem{
        position: relative;
        text-align: center;
        margin-bottom: 20px;
    }

    .center-servicos img{
        width: 150px;
        margin-bottom: 20px;
    }

    .center-servicos{
        position: relative;
        top: 220px;
        display: flex;
        flex-direction: column;
    }

    .servicos .top-servicos img{
        width: 80px;
        margin-top: 10px;
        position: relative;
    }

    .servicos .top-servicos h1{
        font-size: 1.3rem;
    }

    .servicos a{
        font-size: 12px;
        position: relative;
        top: 220px;
        left: 40%;
        border: 2px solid white;
    }

    .rellax{
        height: 650px;
    }

    .paralax{
        position: relative;
        margin-top: 20%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .container-isa{
        height: 580px;
    }

    .aba-isa{
        background-position: 80%;
        height: 1000px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .aba-isa .container-isa .isa-img{
        width: 70%;
        position: relative;
        top: 2%;
        left: 17%;
    }

    .aba-isa .center-isa{
        position: relative;
        top: 2%;
        left: 100px;
    }

    .aba-isa .center-isa .wpp{
        width: 20px;
        top: 30px;
    }

    .aba-isa .center-isa a{
        font-size: 10px;
        width: 150px;
        height: 50px;
        left: 32px;
        top: 10%;
        position: relative;
        border: 1px solid #F99F42;
    }

    .aba-isa .center-isa #img-top-isa{
        width: 35%;
        left: 43%;
        position: relative;
    }

    .aba-isa .container-isa .center-isa h1{
        font-size: 20px;
        text-align: center;
        position: relative;
        margin-top: 5%;
        left: 10%;
    }

    .aba-isa .container-isa .center-isa h2{
        font-size: 18px;
        bottom: 10px;
        width: 300px;
        left: -35%;
        position: relative;
        text-align: center;
    }

    .rodape {
        margin-top: -50px;
        height: 100px;
    }

    .rodape .roda-fora{
        display: none;
    }

    .rodape .txt-footer{
        position: relative;
        left: 2%;
        height: 80px;
        top: 50px;
    }

    .rodape .txt-footer .relogio, .email, .whatsapp, .insta{
        width: 250px;
        margin-bottom: 15px;
    }

    .rodape .txt-footer .relogio h1, .email h1, .whatsapp h1, .insta h1{
        font-size: 12px;
        margin-bottom: -10px;
    }

    .rodape .txt-footer .relogio img, .email img, .whatsapp img, .insta img{
        width: 12px;
        margin-bottom: -10px;
    }

    .rodape .logo-rodape{
        display: block;
        width: 170px;
        height: 50px;
        left: 1%;
        position: absolute;
        top: -20px;
    }

}

@media (max-width:390px) {
    .scav{
        height: 330px;
        position: relative;
        margin-bottom: -50px;
    }

    .equipe .container-equipe h2{
        font-size: 24px;
        position: relative;
        margin-left: -14px;
    }
    
    .equipe .equipe-img{
        width: 60%;
        height: 55%;
        margin-left: -80px;
        position: relative;
    }

    .aba-isa .center-isa h2{
        left: -50%;
        position: relative;
        text-align: center;
    }
}

@media (max-width:428px) {
    
    .equipe .container-equipe h2{
        font-size: 25px;
        position: relative;
        left: -25px;
        width: 350px;
    }

    .equipe .container-equipe h1{
        font-size: 30px;
        position: relative;
        left: -25px;
        width: 350px;
    }

}

@media (max-width:414px) {
    
    .equipe .container-equipe h2{
        font-size: 25px;
        position: relative;
        left: -25px;
        width: 350px;
    }

    .equipe .container-equipe h1{
        font-size: 30px;
        position: relative;
        left: -30px;
        width: 350px;
    }

    .equipe .container-equipe{
        position: relative;
        top: 18%;
    }

    .scav{
        height: 340px;
        position: relative;
        margin-bottom: -60px;
    }

    .aba-isa .center-isa h2{
        font-size: 20px;
        bottom: 10px;
        width: 390px;
        left: -42%;
        position: relative;
        text-align: center;
    }

}